<%- include('../partials/head') %>

    <%- include('../partials/navbar') %>
        <section class="max-w-7xl mx-auto py-16 px-6">

            <h1 class="font-serif text-5xl mb-10">
                Student Enrollments
            </h1>

            <% if (students.length===0) { %>

                <p class="text-gray-500">
                    No students enrolled yet.
                </p>

                <% } else { %>

                    <div class="overflow-x-auto bg-white border shadow">

                        <table class="w-full">

                            <thead class="bg-black text-white">
                                <tr>
                                    <th class="p-4 text-left">Name</th>
                                    <th class="text-left">Email</th>
                                    <th class="text-left">Phone</th>
                                    <th class="text-left">Class</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                <% students.forEach(student=> { %>

                                    <tr class="border-b hover:bg-gray-50">

                                        <td class="p-4">
                                            <%= student.studentName %>
                                        </td>

                                        <td>
                                            <%= student.email %>
                                        </td>

                                        <td>
                                            <%= student.studentContact %>
                                        </td>
                                        
                                        <td>
                                            <%= student.class %>
                                        </td>
                                        <td class="text-center">

                                            <form action="/admin/students/<%= student._id %>/delete" method="POST"
                                                onsubmit="return confirm('Delete this student?')">

                                                <button class="text-red-600 hover:text-red-800">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>

                                            </form>

                                        </td>

                                    </tr>

                                    <% }) %>

                            </tbody>

                        </table>

                    </div>

                    <% } %>

        </section>

        <%- include('../partials/footer') %>