<%- include('../partials/head') %>

<body>

<%- include('../partials/navbar') %>

<%- include('../partials/hero') %>

<%- include('../partials/subjects') %>


<%- include('../partials/testimonials') %>

<%- include('../partials/cta') %>

<%- include('../partials/footer') %>

</body>